ear-yetagain/target/
ear-yetagain/.settings/
ear-yetagain/.project
ear-yetagain/.classpath

http-yetagain/target/
http-yetagain/.settings/
http-yetagain/.project
http-yetagain/.classpath
http-yetagain/.factorypath

service-yetagain/target/
service-yetagain/.settings/
service-yetagain/.project
service-yetagain/.classpath
service-yetagain/.factorypath

.settings/
.project



